@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* color-scheme: dark; */
}



::-webkit-scrollbar {
  width: 10px;
  background-color: red;
  ;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

a::after {
  content: "";
  position: absolute;
  background-color: #af7f42;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
}

a:hover:after {
  width: 100%;
  transition: 0.2s ease-in-out;
}

.section-title-underline::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 47%;
  width: 100px;
  height: 3px;
  background: #af7f42;
}